html, body{
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}


.navbar{
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-item{
    font-size: large;
}

.nav-link{
    position: relative;
}

.nav-link:hover{
    color: red !important;
    /*text-decoration: underline;*/
    /*border-bottom: 2px solid red;*/
}

.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    height: 2px;
    width: 100%;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
    
}

h4 {
    font-weight: 700;
    font-family: monospace;
}

h2 {
    font-weight: 500;
}

.carousel{
    width: 90%;
    margin-left: 5%;
    padding-top: 5%;
}


.card-keuntungan, .cardkeuntungan1 {
    margin-left: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.kartuproduk1 {
    margin-left: 3%;
}

.kartuproduk3 {
    margin-left: 3%;
}

.kartuproduk5 {
    margin-left: 3%;
}

.cardkeuntungan:hover{
    color: white;
    background-color: rgb(218, 37, 37);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.cardkeuntungan1:hover{
    color: white;
    background-color: rgb(218, 37, 37);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.button.card:hover{
    color: white;
    background-color: white;
}

.cardproduk button:hover{
    color: white;
    background-color: rgb(39, 28, 199);
}

.bgprofile{
    background-color: red;
    color: white;
    background-size: auto;
    margin-left: 1.8rem;
    margin-right: 1.6rem;
}

.wrapper {
    text-align: center; /* Center-aligns child elements */
    margin: 0 auto;
}

.title-box {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
}

.videoyt {
    width: 90%;
    height: 450px; /* Sesuaikan tinggi sesuai kebutuhan */
    margin: 0 auto 20px auto;
    display: block;
    max-width: 100%;
    border: 5px solid red; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.footlist {
    margin-left: 5rem;
    font-size: 20px;
}

.list1:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.list2:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.list3:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


footer{
    background-color: rgb(255, 0, 0);
    padding: 20px 0;
    font-family: monospace;
    font-size: large;
}

.Mapsfoot{
    width: 350px;
    height: 180px;
}


.textofficefoot{
    margin-top: 1rem;
    font-size: 20px;
}

.textcopyrightfoot{
    margin-top: 2rem;
    font-size: 15px;
    font-family: monospace;
}

@media screen and (max-width : 1116px) {
    .bgprofile{
        margin-left: 5.5rem;
        margin-right: 5.5rem;
        margin-top: 1.3rem;
        background-size: auto;
        
    }

    .text-office{
        text-align: center;
        margin-left: 0.1rem;
    }

    .maps{
        margin-inline-start: 5rem;
        width: 300px;  
        
    }

}

@media screen and (max-width : 768px){
.bgprofile{
    font-size: 130%;
}

.maps{
    margin-left: 3%;
}

.card-keuntungan{
    justify-content: center;
}

.kartuprodukall{
    justify-content: center;
}

.kartuproduk1{
    margin-right: 3%;
}
.kartuproduk3{
    margin-right: 3%;
}
.kartuproduk5{
    margin-right: 3%;
}

.secvid{
    width: 100%;
    justify-content: center;
    padding-left: 10%;
}

}

@media screen and (max-width : 667px){

    .bgprofile{
        margin-left: 23%;
        margin-right: 23%;
    }
}


@media screen and (max-width : 426px) {

    .carousel{
        padding-top: 17%;
        margin-right: 30%;
        width: 90%;
        justify-content: center;
    }
/*
    .secvid {
        display: flex; 
        flex-wrap: wrap;
        padding-right: 20%;
        /*justify-content: center;
        align-items: center;
        margin-left: 43%
        
    }
   */     
    .areaprofile{
        margin-top: 8%;
    }


    .text-office {
        display: flex;
        flex-wrap: wrap;
    }

    .contact {
        text-align: center;
    }

    .maps {
        margin-left: 13%;
    }


    .row{
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    .footcontactinfo{
        margin-left: 5rem;
    }

    
    .kartuprodukall {
        width: 90%;
        display: flex;
        margin-left: 1em;
    }

    .kartuproduk1 {
        margin-left: 0%;
    }

    
    .kartuproduk3 {
        margin-left: 1%;
    }

    .kartuproduk5 {
        margin-left: 1%;
    }

    .card-keuntungan {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0%;  
        margin-right: 5%; 
    }

    .cardkeuntungan1 {
        margin-left: 0%;
    }
}

.footer{
    width: 100%;
}


.textofficefoot{
    font-size: 15px;
}

.textcopyrightfoot{
    font-size: 12px;
}



@media screen and (max-width : 375px) {

    .carousel{
        margin-top: 10%;
        width: 90%;
    }

    .text-office {
        display: flex;
        flex-wrap: wrap;
    }

    .contact {
        text-align: center;
    }

    .maps {
        margin-left: 7%;
    }


    .row{
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    
    .kartuprodukall {
        width: 90%;
        display: flex;
        margin-left: 1em;
    }

    .kartuproduk1 {
        margin-left: 0%;
    }

    .kartuproduk3 {
        margin-left: 1%;
    }

    .kartuproduk5 {
        margin-left: 1%;
    }

    .card-keuntungan {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0%;  
        margin-right: 5%; 
    }

    .cardkeuntungan1 {
        margin-left: 0%;
    }

    .footer{
        width: 100%;
    }

    .footcontactinfo{
        margin-left: 13%;
    }
    .textofficefoot{
        font-size: 14px;
    }

    .textcopyrightfoot{
        font-size: 11px;
    }
}

@media screen and (max-width : 320px) {
    
    .carousel{
        margin-top: 10%;
    }

    .areaprofile{
        margin-top: 10%;
    }

    .bgprofile{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .maps{
        width: 85%;
    }

    .card-keuntungan h4{
        font-size: 20px;
    }

    .card-keuntungan p{
        font-size: 15px;
    }

    .footcontactinfo{
        font-size: 14px;
        margin-left: 2rem;
    }

    .footlist{
        margin-left: 20%;
    }

    .Mapsfoot{
        padding-right: 30%;
    }
}

@media screen and (max-width : 237px){
    .bgprofile{
        font-size: 100%;
    }    

}